<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Below we describe steps towards your perfect trip</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1 step:</h4>
                                    <h4 class="subheading">You reach us using our contact form.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Please use <a href="https://forms.gle/zgwG4DbKkgtgECVz6">this google form</a> to contact us, describe your request, select options, or to arrange a call.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2 step:</h4>
                                    <h4 class="subheading">We provide you options, places, and prices</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have researched and selected options, we are happy to share them with you, to get your opinion and feedback. We make a final list with appointments/places to book and approve it with you.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3 step:</h4>
                                    <h4 class="subheading">We arrange all appointments</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We make calls and book all  appointments; we make sure that the time is convenient for you, that there are no gaps between your arrangements; nonetheless, we keep a healthy balance, so your day is not heavy and not overloaded.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4 step:</h4>
                                    <h4 class="subheading">You pay only 10% for our services</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We send you an official price list from the places you are going to visit, date/times, addresses of your booked appointment. <b>You will pay for your appointments on the spot</b>: e.g., in the medical center or in the hotel.<br> You get 24/7 support in case of any questions or unforeseen situations or changes of plans.<br><b>You will pay 10% of the total amount for our services.</b><br><b>You will receive from us official documents and checks; everything is legal!</b></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>amazing
                                    <br> trip
                                    <br>begins!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>