 <!-- Legal Modals -->
    <div class="portfolio-modal modal fade" id="impressum" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body text-left">
                            <h2>Generiertes Impressum</h2>
                            <hr class="star-primary">
                           
<p>shar.io UG (haftungsbeschränkt)<br>

Normannstr. 46<br>
46446 Emmerich am Rhein<br>
Germany
</p>
<p>
Telefon: +49 2822 305303<br>
E-Mail: info@tc.services<br>
<br>
USt-IdNr.: DE323244665 <br>
<br><br>
Registergericht: AG Kleve<br>
Registernummer: HRB 15626<br>
</p>
<p>
Geschäftsführer<br>
Denis Foos<br>
</p>
<p>
Verantwortlicher für journalistisch-redaktionelle gestaltete Inhalte:<br>
Denis Foos<br>
Normannstr. 46<br>
46446 Emmerich am Rhein<br>
E-Mail: info@tc.services<br>
</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
