<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Services</h2>
                    <h3 class="section-subheading text-muted">Ukraine is a brilliant place to explore: great delicious food, fantastic quality for spa/beauty industry, cool, unique restaurants, thousands of cafes, and the best price in the end! Ukraine is not a top travel destination yet, and on the one hand, this is a great time for YOU to come there and get incredible emotions and experiences for little money.</h3>
             </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Individually picked tour</h4>
                    <p class="text-muted">Save time with our short questionary to select the best options for you!
Where to stay (hotel, Airbnb), how to fly (we also book fly tickets), what places are must-visit. We respect your time!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">24/7 Support</h4>
                    <p class="text-muted">
<b>We speak English, Deutsch, по-Русски and Українською</b><br>We are not only booking for you all entertainments, but we also support you when you are on a voyage: in case you need to change your plans or want something special! One message, and we will make it for you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">First-class service - affordable price</h4>
                    <p class="text-muted">Our services price is only a 10% price of your whole tour. <br>
*We don't calculate booking restaurants or cafes.</p>
                </div>
            </div>
        </div>
    </section>